@model IEnumerable<Product>

<h1>Products</h1>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
            </tr>
        }
    </tbody>
</table>